.navbar {
  flex: 1;
  background: $color-primary-dark;
  height: calc(100vh - 65px);
  
  width: 250px;

  &__ghost {
    background: #003566;
    height: calc(100vh - 65px);
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__image {
    border-radius: 50rem;
    overflow: hidden;
    width: 50px;
    height: 50px;

    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    a {
      padding: 10px;
      border-bottom: 1px solid $color-white;
      transition: all 0.2s;

      h3 {
        transition: all 0.2s;
      }

      &:hover h3 {
        color: $color-secondary;
      }

      &:hover {
        border-bottom: 1px solid $color-secondary;
      }
    }
  }
}
